h1{
    font-family:cursive;
    color:maroon;
    background-color: chartreuse;
    width:fit-content;
    height: 10em;
}

#div1{
    font-family:papyrus;
    color:yellow;
    font-weight: 900;
    background-color: purple;
    width:fit-content;
    padding: 40px;
}

#div2{
    background-color: cyan;
    width:fit-content;
    height: 10em;
}

#list{
    text-decoration: line-through;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}